.wrapper{
    position: absolute;
    top: 30%;
    left: 30%;
}

.box1 {
    background-color: blue;
    width: 170%;
    padding: 20px;
    outline: solid 4px #800000
}

.box2 {
    background-color: #2aa530;
    width: 80%;
    padding: 30px;
    border: solid 4px #0000ff
}

.box3 {
    background-color: #850b48;
    width: 70%;
   padding: 50px;
   font-size: 13px;
}